    html,
    body {
        margin: 0;
        padding: 0;
        background-color: #2a2a2e;
        font-family: sans-serif;
    }
    
    canvas {
        margin: auto;
        margin-top: 3vh;
        display: block;
        background-color: #2a2a2e;
        border: 5px solid white;
        border-radius: 10px;
    }
    
    div {
        text-align: center;
        margin-top: 1.5vh
    }
    
    input {
        -webkit-appearance: none;
        background-color: inherit;
        border: 5px solid white;
        border-radius: 10px;
        width: 180px;
        height: 30px;
        outline: 0 none;
        margin-left: 0.25vw;
        margin-right: 0.25vw;
    }
    
    button {
        vertical-align: top;
        background-color: inherit;
        border: 5px solid white;
        color: white;
        font-size: 20px;
        border-radius: 10px;
        width: 180px;
        height: 40px;
        outline: 0 none;
        margin-left: 0.25vw;
        margin-right: 0.25vw;
    }
    
    button:hover,
    input:hover {
        border-color: #f92672;
        cursor: pointer;
    }
    
    button:hover span {
        color: #f92672;
    }
    
    input::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: white;
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
    
    h1 {
        color: white;
        text-align: center;
        font-size: 4vh;
    }
    
    h1 span {
        color: #f92672
    }
    
    label {
        color: white;
        font-size: 1.5vw;
        vertical-align: top
    }